{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class="bar-lg sm:bar0 bg-blue-900 d:bg-blue-100 fc-white d:fc-black m48 mtn96 md:ml32 md:mr32 sm:ml0 sm:mr0 mb0 pt32 pb96 sm:pl24 sm:pr24 overflow-hidden">
		<div class="d-flex flex__fl-grow1 ta-center jc-center sm:fd-column">
			<div class="flex--item ps-relative sm:d-none d-flex">
				<img class="w100 h100 d-block us-none pe-none ps-absolute t0 r0 l0 b0 z-base" style="transform: scaleX(-1)" src="https://cdn.sstatic.net/Img/home/illo-se.svg?v=f7e844293cc5" alt="">
			</div>
			<div class="flex--item wmn5 sm:wmn-initial py64 sm:pt0 px32">

				<h2 class="fw-normal fs-headline2 lh-sm p-ff-roboto-slab mb24 mx-auto wmx6">Explorez des sujets techniques et d'autres sujets autour de la tech
				</h2>
				<p class="fs-subheading fc-blue-050 d:fc-black mb32 wmx6 mx-auto">Forum d'entraide déstiné aux dévéloppeurs</p>
			</div>
			<div class="flex--item ps-relative sm:d-none d-flex">
				<div class="js-io-animation p-io-animation ps-relative z-active m-auto ws3 z-active d-flex ai-center jc-center ff-row-wrap l0 r0 t0 b0"></div>
				<img class="w100 h100 d-block us-none pe-none ps-absolute t0 r0 l0 b0 z-base" src="https://cdn.sstatic.net/Img/home/illo-se.svg?v=f7e844293cc5" alt="">
			</div>
		</div>
	</section>
	<section>
		<div class="d-flex flex-row-reverse p-4">
			<button>
				<a href="#form">ask</a>
			</button>
		</div>


		<div id="question-summary-51776821" class="s-post-summary js-post-summary" data-post-id="51776821" data-post-type-id="1">

			<div class="s-post-summary--content">
				{% for results in result %}
					<h3 class="s-post-summary--content-title">
						<a href="./commentaires.html.twig" class="s-link">{{ results.question}}</a>
					</h3>

					<div class="s-post-summary--content-excerpt">
						{{ results.content}}
					</div>
				{% endfor %}
			</div>
		</div>


		<section class="d-flex w100 lg:fd-column-reverse ai-start gs16">
			<div class="flex--item w70 lg:w100 bg-white bar-sm p24 ba bc-black-075 fl-shrink0 js-post-title-section" id="post-title">
				<div class="d-flex gs4 gsy fd-column js-stacks-validation form-wrapper" id="form">
					{{ form_start(questionForm) }}
					{{ form_row(questionForm.question) }}
					{{ form_row(questionForm.content) }}
					<button type="submit" class="btn">Send</button>
					{{ form_end(questionForm) }}
				</div>

			</div>


		</section>
	{% endblock %}
