{% extends 'base.html.twig' %}

{% block title %}{{results.question}}{% endblock %}

{% else %}
        <div>No comments have been posted yet for this question.</div>
{% endif %}

<h2>Add your own comment</h2>

{{ form(comment_form) }}

{% endblock %}