{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<form action="{{ path('Login') }}" method="post">
			<label for="username">Username</label>
			<input type="text" id="username" value="{{ last_username }}" name=" _username"/>

			<label for=" password">Password:</label>
			<input
			type="password" id="password" autocomplete="username" name="_password"/>

			{# If you want to control the URL the user is redirected to on success
																				<input type="hidden" name="_target_path" value="/account"/> #}

			<button type="submit">login</button>
		</form>
	</div>
{% endblock %}
